@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

body {
  margin: 40px auto;
}

#instructions {
  display: flow;
}

#datasets {
  width: 49%;
}

#planner {
  width: 49%;
}

#information {
  height: 100%;
  width: 20%;
}

#recording {
  text-align: center;
  width: 70%;
  height: 100%;
}


footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

#charts {
  padding: 10px 0;
}

#list_content {
  overflow: scroll;
  padding-top: 10px;
}

#query_content {
  overflow: scroll;
  padding-top: 10px;
}

#legend {
  padding-top: 10px;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

#overview {
  width: 100%;
}

#spoken-text {
  font-size: 28px;
  font-weight: bold;
}
#btn-start-recording {
  font-size: 20px;
  font-weight: bold;
}

#btn-submit {
  font-size: 20px;
  font-weight: bold;
}

#btn-dev {
  font-size: 20px;
  font-weight: bold;
}

#viz {
  margin-top: 100px;
  width: 100%;
}

aside {
  position: absolute;
  left: 740px;
  font-size: smaller;
  width: 220px;
}

#viz_title {
  font-family: Calibri, Optima, Candara, Verdana, Geneva, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin-top: 100px;
}


.results {
  height: 80%;
  margin: auto;
  padding-left: 10px;
}

#check_box {
  width: 200px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit_results {
  float: right;
}

#debug_container {
  height: 80%;
}